<%- include("header"); -%>

<body>
        <div>
            <div>
                <h3><%= date %> </h3>
                <h1><i class="fas fa-map-marker-alt location"></i><%= city %>,<span class="countryName"><%= country %></span></h1>
            </div>
            <div class="container topbox">
                <div class="row">
                    <div class="col-12 col-sm-6 column">
                        <img class="icon" src="<%= iconId %>"  alt="weather icon">
                        <p class="climate"><%= climate %>, <span><%= discription %></span></p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p class="temperature"><%= temp1 %>°c</p>
                        <p class="minmax"><i class="fas fa-temperature-low tempicon"></i><%= mintemp %>°c - <%= maxtemp %>°c</p>
                    </div>
                </div>
            </div>
            <div class="container topbox">
                <div class="property row">
                    <div class="col">
                        <p><i class='fas fa-wind windspeed'></i>wind speed <span class="extras"><%= windSpeed %> m/s</span></p>
                    </div>
                    <div class="col">
                        <p><img class="humidity" src="./images/weather icons/wi-humidity.svg" alt="">Humidity  <span class="extras"><%= humidity %> %</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="week">
                <div class="flexbox">
                    <div class="box">
                        <div>
                            <h4 class="day"><%= day1 %></h4>
                            <p><%= time1 %> </p>
                        </div>
                        <div>
                            <img class="icon1" src="<%= icon1 %>"  alt="weather icon">
                            <p class="box-temp"><%= temp2 %> °c</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <h4 class="day"><%= day2 %></h4>
                            <p><%= time2 %> </p>
                        </div>
                        <div>
                            <img class="icon1" src="<%= icon2 %>"  alt="weather icon">
                            <p class="box-temp"><%= temp3 %> °c</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <h4 class="day"><%= day3 %></h4>
                            <p><%= time3 %> </p>
                        </div>
                        <div>
                            <img class="icon1" src="<%= icon3 %>"  alt="weather icon">
                            <p class="box-temp"><%= temp4 %> °c</p>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <h4 class="day"><%= day4 %></h4>
                            <p><%= time4 %> </p>
                        </div>
                        <div>
                            <img class="icon1" src="<%= icon4 %>"  alt="weather icon">
                            <p class="box-temp"><%= temp5 %> °c</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

<%- include("footer"); -%>